<html>
<head>
    <title> Stock Tracker </title>    
    <link rel="stylesheet" href="/static/styles.css"/>
    <script crossorigin src="/static/lib/react.development.js"></script>
    <script crossorigin src="/static/lib/react-dom.development.js"></script>
    <script crossorigin src="/static/lib/babel-standalone.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.js" charset="utf-8"></script>
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous"/>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body class='with-image'>
  <h2 class="gfont">Stock Tracker</h2>
  <form action= "/login"  method="POST">
	
    <div class="form-group">
    <!--label class="user"> UserName  </label-->
    <div class="input-group low-width">
      <span class="input-group-addon" id="iconn"><i class="fas fa-user fa-lg icons"></i></span>
    <input type="text" class="form-control" id="text1" name="email" placeholder="Username">
    </div>
      
    </div>
    
    <div class="form-group">
    <!--label class="user"> Password </label-->
    <div class="input-group low-width">
      <span class="input-group-addon" id="iconn1"> <i class="fas fa-lock fa-lg icons"></i></i></span>
    <input type="password" class="form-control" id="text2" name="password" placeholder="Password">
    </div>
    </div>
    
    <div class="form-group low-width">
    
    <input type="submit" class="btn-login btn-success" value="login" style="border-radius:0px;">
        
    </div>
    
    
    
    
    
    
    
    </form>
    

  <br />
  <div class='add-padding'>
    <p>New user ? <a class="greenish" href="/user/register">click here</a></p>
</div>
 
</body>
</html>